@import '~bootstrap/scss/bootstrap';
.bg-primary {
  background-color: #1f2936 !important;
}

.collapse-transition {
  transition: height 0.5s ease;
}

.videoTag {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

.videoTag:before {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #1f2936;
}
.nav-link-custom {
  color: white;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #6c757d; /* Bootstrap secondary color */
  border-radius: 0.25rem;
  transition: background-color 0.2s, color 0.2s;
}

.nav-link-custom:hover,
.nav-link-custom:focus {
  background-color: #272b2e; /* Darken on hover/focus */
  color: #e9ecef; /* Lighter text color on hover/focus */
}

.nav-link-custom:active {
  background-color: #012965; /* Even darker on click */
  color: #f8f9fa; /* Even lighter text color on click */
}
