@import '~bootstrap/scss/bootstrap';
.bg-primary {
  background-color: #1f2936 !important;
}

.collapse-transition {
  transition: height 0.5s ease;
}

.videoTag {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

.videoTag:before {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #1f2936;
}
